<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <h3>
    Welcome to HomePage
    <p><a href=/login><button class=grey style="height:75px;width:150px">Login</button></a></br>
    <p><a href=/signup><button class=grey style="height:75px;width:150px">SignUp</button></a></br>
    <p><a href=/post><button class=grey style="height:75px;width:150px">Add Post</button></a></br>
      <p><a href=/all_post><button class=grey style="height:75px;width:150px">See All Posts</button></a></br>
    <p><a href=/product><button class=grey style="height:75px;width:150px">Add Product</button></a></br>
      <p><a href=/products><button class=grey style="height:75px;width:150px">See All Products</button></a></br>
    <p><a href=/logout><button class=grey style="height:75px;width:150px">logout</button></a></br>

  </h3>
</body>
</html>